Crunchyroll {
  /*font-size: 1.5em;*/
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: rgb(61, 183, 42);
  text-decoration: underline;
  text-decoration-color: #3db72a;
}

