#Crunchyroll {
  /*font-size: 1.5em;*/
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: rgb(61, 183, 42);
  text-decoration: underline;
  text-decoration-color: #3db72a;
}


@font-face {
  font-family: 'CircularStd-Medium';
  src: url("../fonts/CircularStd-Medium.woff") format('woff'),
       url("../fonts/CircularStd-Medium.woff2") format('woff2');
  font-weight: normal; 
  font-style: normal;  
}

body {
  font-family: 'CircularStd-Medium', sans-serif;
}